fastapi
uvicorn
pymongo
requests
pydantic
pandas
numpy
scikit-learn
mlflow
dvc
python-dotenv
pytest
jupyter
matplotlib
seaborn
detect-delimiter
python-dotenv
passlib
bcrypt
pyjwt
python-multipart
joblib